<div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">

  <div *ngFor="let item of news$ | async" class="article-item">
    <nz-card>
      <ng-template #title>
        {{item.title}}
      </ng-template>
      <ng-template #extra>
        <a>More</a>
      </ng-template>
      <ng-template #body>
        <a [href]="item.url">{{item.summary}}</a>
      </ng-template>
    </nz-card>
  </div>
</div>

<div class="loading" *ngIf="loading$ | async">
    <img src="../assets/images/ninja.gif" alt="">
  </div>

<p *ngIf="!(hasMoreArticle$ | async)" class="no-data">我也是有底线的。</p>
