.app-container {
  padding: 20px 30px;
}

[nz-td] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-item {
  padding: 5px 10px;
}

.no-data {
  text-align: center;
  padding: 15px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
